<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="CONCESSIONARIA/estilo.css">
</head>
<body>
  <% if (typeof mensagem !== 'undefined') { %>
  <div id="mensagem" style="background-color: #e0ffe0; padding: 10px; border: 1px solid #00aa00; margin-bottom: 20px;">
    <%= mensagem %>
  </div>
<% } %>

  <a href="CONCESSIONARIA/cadastro_carro.html">Cadastro</a>
  <a href="CONCESSIONARIA/atualizacao.html">Alterar anuncio</a>
  <a href="CONCESSIONARIA/remocao.html">Remoção</a>

  <h2>Lista de Carros disponíveis:</h2>
  
  <%for (var i = 0; i < Carros.length; i++){%>
  <div id="item_lista">
    <p>Marca do Veículo: <%= Carros[i].db_marca %></p>
    <p>Modelo do veículo: <%= Carros[i].db_modelo %></p>
    <p>Ano do Veículo: <%= Carros[i].db_ano %></p>
    <p>Quantidade disponível: <%= Carros[i].db_qnt %></p>
    <br>
    <form action="/vender_carro" method="post">
  <input type="hidden" name="marca" value="<%= Carros[i].db_marca %>">
  <input type="hidden" name="modelo" value="<%= Carros[i].db_modelo %>">
  <input type="hidden" name="ano" value="<%= Carros[i].db_ano %>">
  <input type="hidden" name="qnt" value="<%= Carros[i].db_qnt %>">
  <input type="submit" value="Vender Veículo">
</form>
  </div>
  <%}%>
  
  
</body>
</html>